.element__like {
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  width: 20px;
  height: 19px;
  border: none;
  position: absolute;
  bottom: 31px;
  right: 30px;
  
}

.element__like:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.2;
  
}