.profile__edit-button {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/pencil.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: auto;
  background-position: center;
  box-sizing: border-box;
  border: 1px solid white;
  margin: 19px 0 16px;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 320px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 0;
  
  }
}