.popup__input {
  width: 360px;
  height: 27px;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

}

.popup__input:last-of-type {
  margin-top: 45px;
}

@media screen and (max-width: 320px) {
  .popup__input {
    max-width: 238px;
  }

}