.popup__input-name {
  width: 360px;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  opacity: 0.2;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

 
}