.popup__close-button {
  position: absolute;
  top: -38px;
  right: -40px;
  background-color: transparent;
  border: none;
}

.popup__close-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 500px) {
  .popup__close-button {
    right: -10px;
  }
}