.popup__save-button {
  width: 360px;
  min-height: 50px;
  background: #000000;
  border-radius: 2px;
  margin: 50px auto;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
  opacity: 1;
  transition: opacity 0.5s;
}

.popup__save-button:hover {
  cursor: pointer;
  opacity: 0.8;
}