.profile__subname {
  width: 100%;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
  
}

@media screen and (max-width: 320px) {
  .profile__subname {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
}